<div id="Header">

    <div id="Logo">
        <div id="LogoContent">
            <a href="../../view/catalog-main.html"><img src="../../images/logo-topbar.gif" /></a>
        </div>
    </div>

    <div id="Search">
        <div id="SearchContent">
            <input type="text" name="searchText" size="20" id="searchText" />
            <input type="button" name="search" id="searchButton" value="Search" />
        </div>
    </div>

    <div id="Menu">
        <div id="MenuContent">
            <a href="#" id="cart">
                <img align="middle" name="img_cart" src="../../images/cart.gif" />
            </a>
            <img align="middle" src="../../images/separator.gif" />

            <a href="../../view/account-login.html" class="signIn">Sign In</a>
            <img align="middle" src="../../images/separator.gif" class="sep1" style="display: none;"/>
            <!-- <a class="signOut" href="../../view/catalog-main.html">Sign Out</a> -->
            <input type="button" value="Sign Out" id="signout-btn" style="display: none;">
            <img align="middle" src="../../images/separator.gif" class="sep" style="display: none;"/>
            <a href="../../view/account-info.html" class="myAccount" style="display: none;">My Account</a>
            <img align="middle" src="../../images/separator.gif" />
            <a href="../../view/help.html">?</a>
        </div>
    </div>



    <div id="QuickLinks">
        <a href="../../view/catalog-list.html?id=FISH&route=product">
            <img src="../../images/sm_fish.gif" />
        </a>

        <img src="../../images/separator.gif" />

        <a href="../../view/catalog-list.html?id=DOGS&route=product">
            <img src="../../images/sm_dogs.gif" />
        </a>

        <img src="../../images/separator.gif" />

        <a href="../../view/catalog-list.html?id=REPTILES&route=product">
            <img src="../../images/sm_reptiles.gif" />
        </a>

        <img src="../../images/separator.gif" />

        <a href="../../view/catalog-list.html?id=CATS&route=product">
            <img src="../../images/sm_cats.gif" />
        </a>

        <img src="../../images/separator.gif" />

        <a href="../../view/catalog-list.html?id=BIRDS&route=product">
            <img src="../../images/sm_birds.gif" />
        </a>

    </div>

</div>