<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <%= require('./common/head.htm') %>
</head>

<body>

    <%= require('./common/header.htm') %>

        <div id="Content">
            <div id="Catalog">
                <form id="user_form" action="#">
                    <h3>User Information</h3>

                    <table>
                        <tr>
                            <td>User ID:</td>
                            <td>
                                <input id="username" type="text" name="username">
                            </td>
                        </tr>
                        <tr>
                            <td>New password:</td>
                            <td>
                                <input id="password" type="text" name="password">
                            </td>
                        </tr>
                        <tr>
                            <td>Repeat password:</td>
                            <td>
                                <input id="repeatedPassword" type="text" name="repeatedPassword">
                            </td>
                        </tr>
                    </table>

                    <div>

                        <h3>Account Information</h3>

                        <table>
                            <tr>
                                <td>First name:</td>
                                <td>
                                    <input type="text" name="firstName">
                                </td>
                            </tr>
                            <tr>
                                <td>Last name:</td>
                                <td>
                                    <input type="text" name="lastName">
                                </td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td>
                                    <input type="text" size="40" name="email">
                                </td>
                            </tr>
                            <tr>
                                <td>Phone:</td>
                                <td>
                                    <input type="text" name="phone">
                                </td>
                            </tr>
                            <tr>
                                <td>Address 1:</td>
                                <td>
                                    <input type="text" size="40" name="address1">
                                </td>
                            </tr>
                            <tr>
                                <td>Address 2:</td>
                                <td>
                                    <input type="text" size="40" name="address2">
                                </td>
                            </tr>
                            <tr>
                                <td>City:</td>
                                <td>
                                    <input type="text" name="city">
                                </td>
                            </tr>
                            <tr>
                                <td>State:</td>
                                <td>
                                    <input type="text" name="state" size="4">
                                </td>
                            </tr>
                            <tr>
                                <td>Zip:</td>
                                <td>
                                    <input type="text" name="zip" size="10">
                                </td>
                            </tr>
                            <tr>
                                <td>Country:</td>
                                <td>
                                    <input type="text" name="country" size="15">
                                </td>
                            </tr>
                        </table>

                        <h3>Profile Information</h3>

                        <table>
                            <tr>
                                <td>Language Preference:</td>
                                <td>
                                    <select name="account.languagePreference">
                                        <option value="Chinese">Chinese</option>
                                        <option value="American">American</option>
                                        <option value="Japanese">Japanese</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Favourite Category:</td>
                                <td>
                                    <select name="account.favouriteCategoryId">
                                        <option value="BIRDS">BIRDS</option>
                                        <option value="DOGS">DOGS</option>
                                        <option value="CATS">CATS</option>
                                        <option value="FISH">FISH</option>
                                        <option value="REPTILES">REPTILES</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Enable MyList</td>
                                <td>
                                    <input type="checkbox" name="account.listOption">
                                </td>
                            </tr>
                            <tr>
                                <td>Enable MyBanner</td>
                                <td>
                                    <input type="checkbox" name="account.bannerOption">
                                </td>
                            </tr>

                        </table>

                    </div>

                    <input id="editSubmit" type="submit" name="editAccount" value="Save Account Information">
                </form>

                <a href="./order-orderList.html">My Orders</a>
            </div>
        </div>

        <%= require('./common/footer.htm') %>


</body>

</html>