<!DOCTYPE html>
<html lang="en">

<head>
    <%= require('./common/head.htm') %>
</head>

<body>
    <%= require('./common/header.htm') %>

    <div id="Content">
        <div id="BackLink">
            <a href="./catalog-main.html">Return to Main Menu</a>
        </div>
    
        <div id="Catalog">
    
            <h2 id="test"></h2>
    
            <table>
                    <tr>
                      <th>Product ID</th>
                      <th>Name</th>
                    </tr>

                    <tr>
                        <td>Product ID</td>
                        <td>Name</td>
                    </tr>
            </table>
    
        </div>
    </div>

    <%= require('./common/footer.htm') %>
</body>

</html>