<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <%= require('./common/head.htm') %>
</head>
<body>

<%= require('./common/header.htm') %>

<div id="Content">
    <div id="Catalog">
        <h2>My Orders</h2>
        <p id="orderMsg" style="color: darkred"></p>
        <table id="orderListTable">
            <tr>
                <th>Order ID</th>
                <th>Date</th>
                <th>Total Price</th>
            </tr>
        </table>
    </div>
</div>

<%= require('./common/footer.htm') %>


</body>
</html>